[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=FirmExtract
Name[en_CA]=FirmExtract
Name[en_GB]=FirmExtract
Name[en_US]=FirmExtract
Comment=Extract and decrypt the contents of an IPSW
Comment[en_CA]=Extract and decrypt the contents of an IPSW
Comment[en_GB]=Extract and decrypt the contents of an IPSW
Comment[en_US]=Extract and decrypt the contents of an IPSW
Exec=/usr/bin/firmextract
Icon=/usr/share/ipswTool/res/ipsw.png
OnlyShowIn=GNOME;XFCE;
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Development;FirmExtract
